# Configuration du registry Docker
# Remplacez par l'adresse de votre registre Docker privé
DOCKER_REGISTRY=your-registry.example.com:5000

# Configuration PostgreSQL
POSTGRES_DB=kubesecurebox
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_secure_password_here

# Configuration RabbitMQ
RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASSWORD=your_secure_password_here
